{% extends "base.html" %}
{% block content %}
{% set assemblage_display = name.replace('Vickaryous & Hall assemblage', 'assemblage') %}
<h1>{{ assemblage_display }}</h1>

<p>This page lists all the cells that are part of the {{ assemblage_display }}. Below you can find the cells
    classified under this assemblage.</p>

<h2>Cells in {{ assemblage_display }}</h2>
<ul class="content-list">
    {% for cell in cells %}
    <li>
        <a href="{{ url_for('cell', qid=cell.qid) }}">{{ cell.label }}</a>
    </li>
    {% endfor %}
</ul>

<a href="/" class="btn btn-primary mt-3">Back to Home</a>
{% endblock %}