{% extends "base.html" %}
{% block content %}
<div class="container">
  {% set assemblage_display = name.replace('Vickaryous & Hall assemblage', 'assemblage') %}
  <h1>{{ assemblage_display }}</h1>

  <p>This page lists all the cells that are part of the {{ name }} assemblage. Below you can find the cells classified
    under this assemblage.</p>

  <ul class="content-list">
    {% for cell in cells %}
    <li>
      <a href="{{ url_for('cell', qid=cell.qid) }}">{{ cell.label }}</a>
    </li>
    {% endfor %}
  </ul>

  <a href="/" class="btn btn-primary mt-3">Back to Home</a>
  <!-- index.html -->
  <div class="card mt-4" style="background-color: #F5E8C7; height:960px">
    <div class="card-header">
      <h2>Cell Type Tree Visualization</h2>
      <p class="text-muted">Only available on desktop.</p>
    </div>
    <div class="card-body">
      <!-- Container for the D3 tree visualization -->
      <div id="tree-container"></div>
    </div>
  </div>



  <script src="https://d3js.org/d3.v6.min.js"></script>
  <script src="{{ url_for('static', filename='js/tree.js') }}"></script>
</div>
{% endblock %}