{% extends "base.html" %}
{% block content %}
<h1>About</h1>
<p>This website was created by Tiago Lubiana in 2024. It is designed to provide an easy-to-navigate interface for
    exploring the Vickaryous & Hall cell classification system using data from Wikidata and Wikipedia.</p>
<p>The site leverages the power of linked data and semantic web technologies to dynamically present information about
    various cell types and their hierarchical classifications.</p>
<p>For more information, you can visit my <a href="https://github.com/tiagolubiana">GitHub profile</a>.</p>
<a href="/" class="btn btn-primary mt-3">Back to Home</a>
{% endblock %}